#btn_menu {
  display: none;
}
header {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
ul {
  display: flex;
  gap: 2rem;
}
nav.show {
  display: block;
}
.show1 {
  display: grid;
  /* flex-direction: column; */
}

@media (max-width: 720px) {
  #btn_menu {
    display: block;
  }
  nav {
    display: none;
  }
} ;
