/* overscroll-behavior: none;
list-style-type: none;
scroll-margin-top: 9rem; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  width: 75vw;
  margin: 0 auto;
  position: relative;
}

header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-radius: 0.5rem;
}
.header_bg {
  background-color: rgb(154, 241, 212);
}
.header_bg h1 {
  font-size: medium;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}
li {
  background-color: rgb(228, 222, 222);
  padding: 1rem;
  border-radius: 0.5rem;
}
a {
  font-size: large;
  color: black;
  font-weight: 900;
  text-decoration: none;
}
section {
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  scroll-margin-top: 9rem;
}
section:first-child {
  height: 100vh;
  background: #dae8bc;
}
section:nth-child(2) {
  height: 100vh;
  background: rgb(236, 205, 205);
}
section:last-child {
  height: 100vh;
  background-color: rgb(140, 140, 124);
}
footer {
  background-color: indigo;
  height: 10vh;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.btn {
  padding: 1rem;
  background-color: yellow;
  border-radius: 0.5rem;
  font-weight: 900;
  font-size: larger;
  box-shadow: none;
  border: none;
  width: 7rem;
  height: 3rem;
  font-family: inherit;
}
#btn_nemu {
  border: none;
  background: none;
  box-shadow: none;
  color: black;
  display: none;
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 0;
}
ul.responsive {
  display: block;
  background-color: white;
  color: black;
  position: absolute;
  left: 0;
  top: 5rem;
  width: 100%;
}
@media (max-width: 720px) {
  nav ul {
    display: none;
  }
  #btn_nemu {
    display: block;
  }
  h1 {
    font-size: large;
  }
}
/* Overlya modal*/

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.overlay.visible {
  display: flex;
}
.overlay.hide {
  display: none;
}
.modal {
  background-color: white;
  color: black;
  height: 50%;
  width: 50%;
  position: relative;
}
#modal_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
